<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h6>Enter UserName & password !</h6>
                </div>
                
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">User Name</label>
                          <input formControlName="UserName" type="Text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
                          <span class="text-danger" *ngIf="loginForm.controls['UserName'].dirty && loginForm.hasError('required','UserName')"> *User Name Is Required </span>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="Password" type="password" class="form-control" id="exampleInputPassword1">
                          <span class="text-danger" *ngIf="loginForm.controls['Password'].dirty && loginForm.hasError('required','Password')"> *Password Is Required </span>
                        </div>
                        
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary mb-2">Login</button>
                      </form>
                <a style="color:white;margin-top: 10px;"  routerLink="/signup"> New User ? click here to register</a>
            </div>

        </div>
    </div>
</div>
